[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
isort = "*"
black = "*"
pandas = "*"
numpy = "*"
whoosh = "*"
stopwords = "*"
rapidfuzz = "*"
pydantic = "*"
python-dotenv = "*"
requests = "*"
beautifulsoup4 = "*"
ao3-api = "*"

[dev-packages]

[requires]
python_version = "3.9"
